/class_1/BasicSyntax.ipynb
/.idea/.gitignore
/To-do Python/To-do Python/.idea/.gitignore
/class_2/imgs/class.png
/class_2/imgs/d47de46b-2c7b-43d2-8a9a-a2ebb7600347_1324x2004.webp
/class_1/imgs/data_types.webp
/class_2/DataStructures.ipynb
/class_1/imgs/duck.jpg
/class_2/example.csv
/class_2/example.xml
/class_2/example_json.json
/class_2/example_json_modified.json
/class_2/example_out.csv
/class_2/Files.ipynb
/class_2/GiT.ipynb
/class_2/imgs/git.png
/class_2/imgs/git-model.png
/class_1/HelloPython.ipynb
/class_2/HW_1.ipynb
/class_2/Infra.ipynb
/class_2/input_text_file.txt
/class_1/Intro.ipynb
/class_1/imgs/lqip_q70.webp
/class_2/imgs/maxresdefault.jpg
/.idea/misc.xml
/To-do Python/To-do Python/.idea/misc.xml
/.idea/modules.xml
/To-do Python/To-do Python/.idea/modules.xml
/class_1/imgs/notebook.png
/class_2/Object-oriented.ipynb
/class_2/output_text_file.txt
/class_2/imgs/parsing-XML.gif
/class_2/imgs/point.png
/class_1/imgs/pointer.jpg
/.idea/inspectionProfiles/profiles_settings.xml
/To-do Python/To-do Python/.idea/inspectionProfiles/profiles_settings.xml
/class_1/imgs/Programming.png
/class_1/imgs/PVM.png
/class_1/imgs/Python-data-structure.jpg
/class_2/imgs/Python-data-structure.jpg
/class_2/imgs/python-list.jpg
/class_1/imgs/Python-Mutable-and-Immutable-Objects.png
/class_1/syntax.ipynb
/class_2/test.txt
/.idea/vcs.xml
/.idea/workspace.xml
